# Banco de dados real
DATABASE_PROVIDER=postgresql
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/doacaoviva

# Para MongoDB, use algo como:
# DATABASE_PROVIDER=mongodb
# DATABASE_URL="mongodb+srv://USER:PASSWORD@cluster0.mongodb.net/doacaoviva?retryWrites=true&w=majority"

PORT=3000
